<div class="c-article__header">
  {{#if author.length }}
    <ul class="c-article__authors">
      {{#each author }}
        <li class="c-article__author">
          <div class="c-article__authorImage">
            <img src="{{ fields.profilePhoto.fields.file.url }}?w=96">
          </div>
          <span>{{ fields.name }}</span>
      {{/each}}
    </ul>
  {{/if}}

  <h1 class="c-article__headline"><a href="/{{ _fileName }}">{{ title }}</a></h1>

  {{#if created_at }}
    <div class="c-article__date">
      <date>{{ created_at }}</date>
    </div>
  {{/if}}

  {{#if category.length }}
    <ul class="c-article__tags">
      {{#eachSortedByTitle category }}
        <li>{{ fields.title }}
      {{/eachSortedByTitle}}
    </ul>
  {{/if}}


</div>