<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<header class="c-header">

  <div class="c-logo">
    <h1 class="c-logo__h1">
      Megnanimously.
    </h1>

    <p class="c-logo__p">A (mostly) travel blog,
      <br>The life of an American expat in Berlin.
      </p>
    <p class="c-logo__p">
      <a href="https://www.instagram.com/_megnanimously/" target="_blank">instagram</a> // 
      <a href="https://www.twitter.com/meg_nanimous" target="_blank">twitter</a> // 
      <a href="https://www.linkedin.com/in/meghanfreas" target="_blank">linkedin</a> // 
      <a href="https://github.com/megnanimous" target="_blank">github</a>
      </p>

    </div>

  <nav class="c-nav">
    <ul class="c-nav__list">
      <li><a href="/places.html">Places</a></li>
      <li><a href="/filtered.html">Berlin</a></li>
      <li><a href="/potpourri.html">Potpourri</a></li>
    </ul>
  </nav>

</header>
</html>