.c-paddedList {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  > li {
    margin: 0;
    padding : 1em 0;
    padding-right: 1.25em;
    width: 50%;
  }


}

.c-list {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin: 0;
    padding : .5em 0;
  }
}