.c-nav {
  font-size: 0.8em;
  font-family: 'Open Sans', cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
  float: right;
  margin: 25px 0 0 0;

  &__list {
    list-style: none;
    margin: 0 15px 30px;
    margin-left: 0;
    padding-left: 0;

    display: flex;

    > li {
      margin: 0;
      padding-right: 10px;
    }
  }

  a {
    text-decoration: none;
  }

  p {
    font-size: .5em;
  }
}