@import "variables";
@import "base";
@import "components/article";
@import "components/featured";
@import "components/footer";
@import "components/list";
@import "components/nav";
@import "components/notification";
@import "util";


.c-header {
  position: relative;
  width: 100%;
  height: 175px;
  border-bottom: 1px solid #000000;
}

.c-logo {
   display: block;
    float: left;
    margin: 10px 0 0 0;

  &__h1 {
    font-family: 'Abril Fatface';
    font-size: 2.25em;
    letter-spacing: 3px;
    margin: 0;
  }

  &__p {
  font-family: 'Open Sans';
  font-size: 0.8em;
  }
}


.l-container {
  max-width: 52em;
  padding: 0 1em;
  margin: auto;
  margin-top: 3%;
}

.c-post {
  &--preview {
    padding: 3em 0;
  }
}

.c-posts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feed-container {
  height: 200px;
}

#instafeed {
  width: 100%;
  margin: 1.25em auto;

  a {
    display: block;
    float: left;
    position: relative;
    width: 20%;
    
    
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
